---
layout: default
title: Blog
---

<h1>Blog</h1>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt | strip_html | truncatewords: 28 }}
      </div>

      <a class="read-more" href="{{ post.url | relative_url }}">Read More</a>
    </article>
  {% endfor %}
</div>

<nav class="pagination" style="text-align:center; margin-top: 2rem;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Newer</a>
  {% endif %}

  <span style="margin: 0 1rem;">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Older &raquo;</a>
  {% endif %}
</nav>
